{% extends "layout.html" %}
{% block title %}
Admin Panel
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>
{% if users %}
<center>
<h3>All Users</h3>
    <div class=admin>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Size</th>
                <th>Team Name</th>
                <th>Learn?</th>
                <th>Delete</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td><a href={{ url_for('user_profile', user_id=user.user_id) }}>{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.shirt_size }}</td>
                {% if user['team_id'] %}
                <td><a href={{ url_for('team_profile', team_id=user.team_id) }}>{{ user_data[user['user_id']].name[0:8] }}..</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{% if user['learn'] %}Yes{% else %}No{% endif %}</td>
                <td><a href={{ url_for('delete_user', user_id=user.user_id) }}>Delete User</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if teams %}
        <h3>All Teams</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th># of Members</th>
                <th>Looking?</th>
                <th>Hardware?</th>
                <th>Delete</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td>{{ team.team_id }}</td>
                <td><a href={{ url_for('team_profile', team_id=team.team_id) }}>{{ team.name }}</a></td>
                <td>{{ team_data[team.team_id] | count() }}</td>
                <td>{% if team.looking %} Yes {% else %} No {% endif %}</td>
                <td>{% if team.hardware %} Yes {% else %} No {% endif %}</td>
                <td><a href={{ url_for('delete_team', team_id=team.team_id) }}>Delete Team</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</center>
{% endif %}
{% endblock %}
