{% extends "layout.html" %}
{% block title %}
Admin Panel
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>
{% if users %}
<center>
<div class=admin>
<table>
    <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Email</th>
	<th>Size</th>
	<th>Team Name</th>
	<th>Delete</th>
	<th>Learn?</th>
    </tr>
    {% for user in users %}
    <tr>
	<td>{{ user.user_id }}</td>
	<td><a href={{ url_for('user_profile', user_id=user.user_id) }}>{{ user.name }}</a></td>
	<td>{{ user.email }}</td>
	<td>{{ user.shirt_size }}</td>
	{% if user['team_id'] %}
	<td><a href={{ url_for('team_profile', team_id=user.team_id) }}>{{ user_data[user['user_id']].name[0:10] }}...</a></td>
	{% else %}
	<td></td>
	{% endif %}
	<td><a href={{ url_for('delete_user', user_id=user.user_id) }}>Delete User</a></td>
	<td>{% if user['learn'] %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
</table>
</div>
</center>
{% endif %}
{% endblock %}
