{% extends "layout.html" %}
{% block title %}
TechHacks FAQ
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>

<p><strong>Do I need to know how to program?:</strong> Absolutely not. We want this to be about learning and
collaborating. You may be surprised at how much you can learn in a few hours, and what you can contribute to a team,
even if it is just ideas. You can also try to learn some basic programming before the hackathon. Some great resources
are <a href="http://tryruby.org">Try Ruby</a> and <a href="http://trypython.org">Try Python</a>.</p>
<p><strong>Do I need to have a team?:</strong> Not at all! If you work better alone, go for it!</p>
<p><strong>Does it cost anything?:</strong> Nope! We got a whole bunch of awesome sponsors to help make this event as
accessible as possible! All you need to do is get a team together (or not, if you're flying solo) and register!</p>
<p><strong>Will there be equipment for hardware teams to use?:</strong> Yes! All hardware teams will have full access to
the IEEE lab in the EERC and will be able to use the tools and components provided.</p>
<p><strong>Can I still bring my own tools?:</strong> Absolutely!</p>
<p><strong>Can I leave during the duration of the hackathon?:</strong> You're free to come
and go as you please, just remember that there will be plenty of food as well as random giveaways of awesome prizes like hammocks and TI
Launchpads throughout the entire hackathon, so it may be worth it to stick around. :)</p>
<p><strong>Where should I park?:</strong> Please park in the faculty/staff lot #12, located across from the Library, please park up against the guard rail down towards the Fisher hall end.</p>
<center><img src="{{ url_for('static', filename='parking.png') }}" alt="Parking" width=600></center>
<p><strong>How do I access the internet if I'm not a Michigan Tech Student?:</strong> We have guest passes available for anyone who is not an MTU student, just get in touch with one of the staff, or let one of us know when you are checking in and we'll get you set up with one.</p>
{% endblock %}
