{% extends "layout.html" %}
{% block title %}
TechHacks Updates
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>

<p><strong>Time:</strong> Friday, December 6th at 6pm to Saturday, December 7th at 12pm. A full 18 hours.</p>

<p><strong>Place:</strong> Kickoff will be held in Fisher 135, and Hacking will take place all over Rekhi Hall.</p>

<p><strong>Food:</strong> Yes. Lots of it.</p>

<p><strong>Prizes:</strong> Nexus 7s, Kindle Paperwhites, Chromecasts, Arduinos, Hammocks, and more! You get a
T-shirt, too!</p>
<center>
    <p>Check out the <a href="/faq">FAQ</a> for more information.</p>
</center>
<center><p>A special thanks to all of our sponsors who made this event possible!</p></center>
<center>
    <table>
	<tr>
	    <td>
		<img src="{{ url_for('static', filename='facebook_logo_detail.jpg') }}" alt="Facebook" width=250
		height=250>
	    </td>
	    <td></td>
	    <td>
		<img src="{{ url_for('static', filename='CONTROLTECLogoDark.png') }}" alt="ControlTec" width=420>
	    </td>
	</tr>
    </table>
</center>
<center>
    <table>
	<tr>
	    <td>
		<img src="{{ url_for('static', filename='fb_logo.png') }}" alt="Michigan Tech Film Board" width=200 height=200>
	    </td>
	    <td>
		<img src="{{ url_for('static', filename='irhc_logo.jpg') }}" alt="Inter-Residence Hall Council">
	    </td>
	    <td>
		<img src="{{ url_for('static', filename='2013-12-04.jpg') }}" alt="Cisco Meraki" width=200 height=200>
	    </td>
	</tr>
    </table>
    <table>
	<tr>
	    <td>
		<img src="{{ url_for('static', filename='Family_Video_Logo.jpg') }}" alt="Family Video">
	    </td>
	    <td>
	    </td>
	    <td>
		<img src="{{ url_for('static', filename='title.png') }}" alt="The Daily Bull" width=300>
	    </td>
	</tr>
    </table>

</center>
<center>
    <table>
	<tr>
	    <td>
		<img src="{{ url_for('static', filename='mtu_cs.png') }}" alt="Michigan Technological University
		Department of Computer Science" width=300>
	    </td>
	    <td>&nbsp;&nbsp;&nbsp;</td>
	    <td>
		<img src="{{ url_for('static', filename='mtu_eecs.png') }}" alt="Michigan Technological University
		Department of Electrical and Computer Engineering" width=300>
	    </td>
	</table>
    </center>
    <center>
	<table>
	    <tr>
		<td>
		    <img src="{{ url_for('static', filename='acm_4c_grad_pos.png') }}" alt="Association of
		    Computing Machinery">
		</td>
	    </tr>
	</table>
    </center>
    <br>
    {% endblock %}
