<!doctype html>
<title>{% block title %}Welcome{% endblock %} | TechHacks</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
<div class=page>
    <h1>TechHacks</h1>
    <div class=navigation>
	<a href="{{ url_for('home') }}">home</a> |
	{% if g.user %}
	<a href="{{ url_for('all_teams') }}">all teams</a> |
	<a href="{{ url_for('all_users') }}">all users</a> |
	<a href="{{ url_for('user_profile', user_id=g.user.user_id) }}">my profile</a> |
	{% if g.user.team_id %}
	<a href="{{ url_for('team_profile', team_id=g.user.team_id) }}">my team</a> |
	{% endif %}
	<a href="{{ url_for('logout') }}">sign out [{{ g.user.email }}]</a> |
	{% else %}
	<a href="{{ url_for('register') }}">sign up</a> |
	<a href="{{ url_for('login') }}">sign in</a> |
	{% endif %}
	<a href="{{ url_for('faq') }}">faq</a> |
	<a href="{{ url_for('schedule') }}">schedule</a>
	{% if g.user['email'] | is_admin %}
	| <a href="{{ url_for('admin') }}">admin</a>
	{% endif %}
	{% if not g.user['team_id'] %}
	| <a href="{{ url_for('find_team') }}">find a team</a>
	{% endif %}
    </div>
    {% with flashes = get_flashed_messages() %}
    {% if flashes %}
    <ul class=flashes>
	{% for message in flashes %}
	<li>{{ message }}
	{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class=body>
	{% block body %}{% endblock %}
    </div>
    <div class=footer>
	<div class=text>
	    <div class=tagline>
		<a href="http://github.com/magrimes/mtu-acm">TechHacks Registration</a> &mdash; Built with
		<a href="http://flask.pocoo.org">Flask</a>
	    </div>
	</div>
	<div class=text>
	    <div class=stats>
		Registered Users: {{ user_count() }} |
		Registered Teams: {{ team_count() }}
	    </div>
	</div>
    </div>
</div>
