<!doctype html>
<title>{% block title %}Welcome{% endblock %} | TechHacks</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>TechHacks</h1>
  <div class=navigation>
    <a href="{{ url_for('home') }}">home</a> |
    {% if g.user %}
      <a href="{{ url_for('user_profile', user_id=g.user.id) }}">my profile</a> |
    {% if g.user.team_id %}
      <a href="{{ url_for('team_profile', team_id=g.user.team_id) }}">my team</a> |
    {% endif %}
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.email }}]</a>
  {% else %}
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    TechHacks Registration &mdash; Built with Flask
  </div>
</div>
