{% extends "layout.html" %}
{% block title %}
    {% if g.user.user_id == profile_user.user_id %}
	Your Profile
    {% else %}
	{{ profile_user.name|possess }} Profile
    {% endif %}
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>
 {% if g.user %}
      <div class=followstatus>
	{% if g.user.team_id != None %}
	    View your team <a href="{{ url_for('team_profile', team_id=g.user.team_id) }}">here</a>.
	{% else %}
	    You are not yet registered on a team!
	    Register <a href="{{ url_for('team_register') }}">here</a>.
	{% endif %}
      </div>
  {% endif %}
{% endblock %}
