{% extends "layout.html" %}
{% block title %}
{% if g.user.user_id == profile_user.user_id %}
Your Profile
{% else %}
{{ profile_user.name|possess }} Profile
{% endif %}
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>
{% if g.user.user_id == profile_user.user_id %}
<div class=followstatus>
    {% if g.user.team_id != None %}
    You are on
    <a href="{{ url_for('team_profile', team_id=g.user.team_id) }}">{{ profile_user_team.name }}</a>.
    {% else %}
    You are not yet registered on a team!
    Register a team <a href="{{ url_for('team_register') }}">here</a>, or find one to <a href="{{ url_for('find_team') }}">join</a>.
    {% endif %}
</div>
{% if not shirt_size %}
<p>You haven't selected a shirt size yet!</p>
{% endif %}
<br>
<form action="" method=post>
    <dt>Shirt Size:
    <dl>
	<input type=radio name=shirtsize value="S" {% if shirt_size == "S" %} checked {% endif %}>Small
	<input type=radio name=shirtsize value="M" {% if shirt_size == "M" %} checked {% endif %}>Medium
	<input type=radio name=shirtsize value="L" {% if shirt_size == "L" %} checked {% endif %}>Large
	<input type=radio name=shirtsize value="XL" {% if shirt_size == "XL" %} checked {% endif %}>Extra Large
	<input type=radio name=shirtsize value="2XL" {% if shirt_size == "2XL" %} checked {% endif %}>2X Large
    </dl>
    </dt>
    <dl>
	<input type=checkbox name=learn {% if learn %} checked {% endif %}>I would like to learn how to program
    </dl>
    <div class=actions><input type=submit value="Apply Changes"></div>
</form>
{% else %}
{% if profile_user_team %}
{{ profile_user.name }} is on
<a href="{{ url_for('team_profile', team_id=profile_user_team.team_id) }}">{{ profile_user_team.name }}</a>
{% endif %}
{% endif %}

{% endblock %}
