{% extends "layout.html" %}
{% block title %}
Rules
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>

<h3>Rules of Participation</h3>
<p>The following are the rules to be eligible to win a special prize at TechHacks:</p>
<p><strong>1. </strong>All custom programming aspects must be done during the event. This does not apply to pre-existing libraries or third party software. In the event of any confusion, the judges will have the final say in the matter, and the staff may make suggestions.</p>
<p><strong>2. </strong>You will only be judged for work done during the event.</p>
<p><strong>3. </strong>Teams have a maximum size of 5 members.</p>
<p><strong>4. </strong>Each member of the winning team can choose only one item from the prize list. For example: if a team consisting of one person wins first place, he/she cannot win all five Nexus 7 tablets.</p>
<p><strong>5. </strong>The winners can choose any one item from the prize list in winning order. For example: First place team chooses first, then second, etc.</p>
<p><strong>6. </strong>In the event that there are leftover special prizes, the judges can choose additional winners with suggestions from the staff.</p>
<p><strong>7. </strong>The staff and judges are ineligible to win any of the special/placement prizes.</p>
<p><strong>8. </strong>Raffle prizes will be given out at the end of each talk. You must attend the talk to be entered to win.  You're free to hack during the talk, just please be respectful and don't interupt everyone!</p>
{% endblock %}
