{% extends "layout.html" %}
{% block title %}
Schedule
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>

<h3>Friday, December 6th</h3>
<hr>
<p><strong>6:00pm - Fisher 139:</strong> Kickoff in - Hacking Starts</p>
<hr>
<p><strong>6:30pm - Fisher 139:</strong> Michael Adkins - Facebook Engineer - Open Source &amp; Facebook</p>
<p><strong>Summary:</strong> How open source applications either released by or used by Facebook are used to move and scale fast.</p>
<hr>
<p><strong>7:30pm - Fisher 139:</strong> Dr. Nilufer Onder - Associate Professor at Michigan Technological University - Talk to Me</p>
<p><strong>Summary:</strong> A presentation designed to enhance the abilities of undergraduate students to initiate interactions with faculty - which can increase their learning and result in greater satisfaction with their educational experience.</p>
<hr>
<p><strong>8:30pm - Fisher 139:</strong> Dr. Laura Brown - Assistant Professor at Michigan Technological University - Data Mining and R</p>
<p><strong>Summary:</strong> TBA<p>
<hr>
<p><strong>9:30pm - Fisher 139:</strong> Kit Cischke - Senior Lecturer at Michigan Technological University - Performance of an Intuitive Hash Table in Shared Memory Parallel Programs</p>
<p><strong>Summary:</strong> A discussion of the Partitioned Global Address Space programming paradigm and the implementation of a common data structure in that language. Design and implementation details along with performance metrics.</p>
<hr>
<p><strong>10:30pm - Fisher 139:</strong> Kaleb Elwert - Summer 2013 Facebook Intern - Web Programming in Go</p>
<p><strong>Summary:</strong> A basic introduction to the Go programming language for web application and services development.</p>
<hr>

<p><strong>11:30pm - Fisher 139:</strong> Jay Vana - Summer 2013 Facebook Intern - Facebook Production Engineering Trivia</p>
<p><strong>Summary:</strong> Come answer programming and systems engineering questions and win some cool prizes!</p>
<hr>

{% endblock %}
