{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post>
    Create a New Team:
    <dl>

	<dt>Team Name:</dt>
	<dd><input type=text name=name size=30 value="{{ request.form.name }}"></dd>
	<dt>Or Join an Existing One:</dt>

	<dd>
	<select name=select_name>
	    <option value="">Select a Team</option>
	    {% for k, v in teams %}
		<option value="{{ v }}">{{ v }}</option>
	    {% endfor %}
	</select>
	</dd>
    </dl>
    <div class=actions><input type=submit value="Sign Up"></div>
  </form>
{% endblock %}
