{% extends "layout.html" %}
{% block title %}
{{ team.name }} {% if team.hardware %} (Hardware) {% endif %}
{% endblock %}
{% block body %}
<h2>{{ self.title() }}</h2>
{% if members %}
<h3>Team Members:</h3>
<ul>
    {% for member in members %}
    <li>
    <a href={{ url_for('user_profile', user_id=member.user_id) }}>{{ member.name }}</a>
    {% if team.admin_id == member.user_id %} (Captain) {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if g.user %}
{% if team.admin == g.user.user_id %}
<form action="" method=post>
    Edit Team:
    <dl>
	<dt>Team Name:</dt>
	<dd><input type=text name=name size=30 value"{{ request.form.name }}"></dd>
    </dl>
    <div class=actions><input type=submit value="Apply"></div>
</form>
{% endif %}
{% if g.user.user_id == team.admin_id %}
<a href={{ url_for('team_delete', team_id=team.team_id) }}>Delete this team</a>
{% endif %}
{% endif %}
{% endblock %}
